<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - UnrealShop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>UnrealShop</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('views.home') }}">Главная</a></li>
                <li><a href="#">Товары</a></li>
                <li><a href="#">О нас</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Данный магазин - макет. Не является коммерческим проектом.</p>
    </footer>
</body>
</html>