<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('views.home') }}">UnrealShop</a></h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('views.home') }}">🏠 Главная</a></li>
                <li><a href="{{ url_for('views.catalog') }}">🛍️ Товары</a></li>
                <li><a href="#">ℹ️ О нас</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('views.profile') }}">👤 Профиль</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">🚪 Выйти</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">🔐 Войти</a></li>
                    <li><a href="{{ url_for('auth.register') }}">📩 Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Данный магазин — макет. Не является коммерческим проектом.</p>
    </footer>
</body>
</html>