{% extends "base.html" %}

{% block title %}Корзина{% endblock %}

{% block content %}
<h2>🛒 Моя корзина</h2>

<a href="{{ url_for('views.home') }}" class="btn btn-primary">🏠 На главную</a>
<br><br>

<div class="product-grid">
    {% if cart_items %}
        {% for item in cart_items %}
            <div class="product-card">
                <img src="{{ url_for('static', filename=item.product.image) }}" alt="{{ item.product.name }}">
                <div class="product-details">
                    <h4>{{ item.product.name }}</h4>
                    <p>Цена: <strong>{{ item.product.price | round(2) }}</strong> руб.</p>
                    <p>Количество: <strong>{{ item.quantity }}</strong></p>
                    <p>Общая стоимость: <strong>{{ (item.product.price * item.quantity) | round(2) }}</strong> руб.</p>
                    <form action="{{ url_for('views.remove_from_cart', item_id=item.id, page='cart') }}" method="POST">
                        <button type="submit" class="btn">➖ Удалить / уменьшить</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
</div>

{% if cart_items %}
    <div class="checkout">
        <form action="{{ url_for('views.checkout') }}">
            <button type="submit" class="btn btn-big btn-primary">🧾 Оформить заказ</button>
        </form>
    </div>
{% endif %}
{% endblock %}
