{% extends "base.html" %}

{% block title %}Одежда - UnrealShop{% endblock %}

{% block content %}
<h1>👕 Одежда</h1>

<div class="product-grid">
    {% if products %}
        {% for product in products %}
            <div class="product-card">
                <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}">
                <h4>{{ product.name }}</h4>
                <p>{{ product.description | truncate(60) }}</p>
                <p>Цена: {{ product.price | round(2) }} руб.</p>
                <div class="btn-wrapper">
                    <a href="{{ url_for('views.product', product_id=product.id) }}" class="btn btn-outline-primary btn-details">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>В этой категории пока нет товаров.</p>
    {% endif %}
</div>

<br>
<div class="catalog-container">
    <a href="{{ url_for('views.catalog') }}" class="btn-back">⬅️ Назад в каталог</a>
</div>
{% endblock %}