{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="hero">
    <h2>Добро пожаловать в наш магазин!</h2>
    <p>Хоть он и ненастоящий, но всё ещё потрясающий!</p>
    <a href="{{ url_for('views.catalog') }}" class="btn">🛍️ Окунуться в мир виртуальных товаров!</a>
</section>

<!-- КНОПКА переход в профиль или вход -->
<div class="user-actions">
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('views.profile') }}"><button>👤 Профиль</button></a>
    {% else %}
        <a href="{{ url_for('auth.login') }}"><button>🔐 Войти</button></a>
    {% endif %}
</div>

<!-- Секция с рекомендациями -->
<section class="featured-products">
    <h3>✨ Рекомендуем к покупке</h3>
    <div class="product-grid">
        {% for product in products %}
        <div class="product-card">
            <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}">
            <h4>{{ product.name }}</h4>
            <p>{{ product.description|truncate(80) }}</p>
            <a href="{{ url_for('views.product', product_id=product.id) }}" class="btn">Подробнее</a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}