<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Состояние заказа</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% if success %}
        <div class="container">
            <h1>Ваш заказ успешно оформлен!</h1>
            <h4>Информация о вашем заказе направлена адиминистраторам нашего сайта.</h4>
            <h4>В течение суток с вами свяжутся по указанному адресу электронной почты для уточнения деталей заказа.</h4>
            <h4>Спасибо за покупку!</h4>
            <h2>Ждём вас снова в UnrealShop!</h2>
        </div>
    {% else %}
        <div class="container">
            <h1>Ошибка при оформлении заказа</h1>
            <h4>Попробуйте сделать заказ позже</h4>
        </div>
    {% endif %}
    <a href="{{ url_for('views.home') }}" class="btn">🏠 На главную</a>
</body>
</html>