<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Профиль пользователя</h1>

        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Пароль:</strong> 🔒 скрыт</p>

        <div class="buttons">
            <a href="{{ url_for('views.home') }}"><button>🏠 Главное меню</button></a>
            <a href="{{ url_for('views.cart') }}"><button>🛒 Моя корзина</button></a>
            <a href="{{ url_for('auth.logout') }}"><button>🚪 Выйти</button></a>
        </div>
    </div>
</body>
</html>