<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="profile-container">
        <h1>👤 Профиль пользователя</h1>

        <div class="profile-info">
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Пароль:</strong> 🔒 скрыт</p>
        </div>

        <div class="buttons">
            <a href="{{ url_for('views.home') }}" class="btn profile-btn">🏠 Главное меню</a>
            <a href="{{ url_for('views.cart') }}" class="btn profile-btn">🛒 Моя корзина</a>
            <a href="{{ url_for('auth.logout') }}" class="btn profile-btn">🚪 Выйти</a>
        </div>
    </div>
</body>
</html>